<!-- Main jumbotron for a primary marketing message or call to action -->
<div id="wrapper">

</div>

<div class="animateme">
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div class="full-width bg-truck">
    <div class="bg-primary">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" style="margin-top: 10%;">
                    <div class="main-head text-center">
                        <h1>#NOL</h1>
                        <h4>#Night #Out #Loud</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="content">
    <!-- Example row of columns -->
    <div class="row">

        <div class="full-width text-center">
            <h1>
                <span class="bd-bottm">Featured Venues</span>
            </h1>
            <br>
            <h4>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
            </h4>
            <br>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4z " ng-repeat="data in dataTable">

            <div class="thumbnail full-thumb "
                 ng-style="{'background-image':'url({{data.productImg }})'}">
                <div class="full-width bg-trans">
                    <h4 style="color:#fff;">{{data.venue}}</h4>

                    <div class="full-width md-top">
                        <ul class="list-inline text-center">
                            <li class="bx bx1"><h4>people</h4><h4>{{data.people}}</h4></li>
                            <li class="bx bx2"><h4>Males</h4><h4>{{data.male}}</h4></li>
                            <li class="bx bx3"><h4>Females</h4><h4>{{data.female}}</h4></li>
                            <li class="bx bx4"><h4>Fullness</h4><h4>{{data.fullness}}</h4></li>
                        </ul>

                    </div>
                    <div class="caption">
                        <h4>{{data.venue}}</h4>
                        <ul class="list-inline text-center">
                            <li class="bxd">
                                <h4>Vibe</h4>
                                <h4 ng-if="data.vibe == 0">Chill</h4>
                                <h4 ng-if="data.vibe == 1">Upbeat</h4>
                                <h4 ng-if="data.vibe == 2">Dancing</h4>
                            </li>
                            <li class="bxd">
                                <h4>Music Type</h4>
                                <h4 ng-if="data.music_type == 0">Bollywood</h4>
                                <h4 ng-if="data.music_type == 1">EDM</h4>
                                <h4 ng-if="data.music_type == 2">Rock</h4>
                                <h4 ng-if="data.music_type == 3">Pop</h4>
                                <h4 ng-if="data.music_type == 4">Commercial</h4>
                            </li>
                            <li class="bxd">
                                <h4>Music Source</h4>
                                <h4 ng-if="data.music_source == 0">Speakers</h4>
                                <h4 ng-if="data.music_source == 1">In House DJ</h4>
                                <h4 ng-if="data.music_source == 2">Special DJ</h4>
                                <h4 ng-if="data.music_source == 3">Karaoke</h4>
                                <h4 ng-if="data.music_source == 4">Live Band</h4>
                            </li>
                        </ul>
                        <p>
                            <a href="javascript:void(0);" class="btn btn-primary btn-sm" ng-click="ViewDetails(data)">View
                                Details</a>
                        </p>
                    </div>
                </div>
                <!--<img ng-src="{{data.venue.image}}" alt="...">-->
            </div>

        </div>


    </div>


    <hr>
    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div>

<!-- /container -->


<!--=========================== Product Pop up details ======================-->


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{modalHeader}}</h4>
            </div>
            <div class="modal-body">
                <div><img ng-src="{{modalImg}}" style="width: 100%;"></div>
                <div>
                    <ul class="list-inline text-center">
                        <li class="bx bx1"><h4>people</h4><h4>{{people}}</h4></li>
                        <li class="bx bx2"><h4>Males</h4><h4>{{male}}</h4></li>
                        <li class="bx bx3"><h4>Females</h4><h4>{{female}}</h4></li>
                        <li class="bx bx1"><h4>Fullness</h4><h4>{{fullness}}</h4></li>
                    </ul>
                </div>
                <h4 class="text-center"><b>Description</b></h4>

                <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
                    massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                    rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                    tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                    ligula</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

